$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$box-padding: 0.5rem;
$box-background-color: $beige-light;
$brown: #757763;
$pink: #FA7C91;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/components/_all";
// @import "~bulma/sass/grid/_all";
@import "~bulma/sass/helpers/_all";
// @import "~bulma/sass/layout/_all";

@import '~bulma-floating-button/dist/css/bulma-floating-button.min.css';

.swipe-page {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background-color: $beige-lighter;
}
.hog {
       width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cal-week {
  overflow-y: hidden;
  flex: 1;
  display: flex;
}
.cal-date {
  padding: 1px;
  flex: 1;
  max-width: calc(100% / 7);
}
.task {
  height: 24px;
  transition: height .9s ease, display .9s linear 1s;
  &.d {
  height: 0;
  display: none;
  }
/*  transition: <property> <duration> <timing-function> <delay>; */
}
.my-check,.my-check-exit-done,.my-check-enter-done {
  display: none;
}
.my-check-enter,.my-check-exit {
  display: inline;
  opacity: 1;
}
.my-check-enter-active,.my-check-exit-active {
  opacity: 0;
  transition: opacity .2s ease-out .7s;
}
.tasklist {
  flex: 1;
  padding: 8px;
}
.addbutton {
  border-width: 0;
  background-color: $pink;
}
.hoge {
  display: flex;
  flex-flow: column nowrap;
  height: 532px;
  position: relative;
}

.swipesticky {
  position: relative;
  $stickyheight: 310px;
  height: $stickyheight;

  & > div {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: $stickyheight;
  }
  &[data-scroll="in"] > div {
    position: fixed;
    height: calc(var(--visible-y) * #{$stickyheight});
    max-height: $stickyheight;
    min-height: 130px;
  }
}

.boxdrag {
  &:not(:last-child) > div {
    margin-bottom: 0.25rem;
  }
}
.taskdate {
  color: $grey-lighter;
  height: 32px;
  & > .donearea {
 padding: 4px 8px;
  }
  & > .tasktitle {
  padding: 4px 8px 4px 0;
  }
}
.datetitle {
  padding-left: 8px;
}
.donearea {
 padding: 8px;
 &.empty {
   width: 32px;
 } 
}
.tasktitle {
  padding: 8px 8px 8px 0;
  text-overflow: ellipsis;
  flex: 1;
  overflow: hidden;
}
.my-node {
  height: 40px;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
}
.my-node-exit-active {
  height: 0;
  margin-bottom: 0 !important;
  transition: height .1s ease-out .4s, margin-bottom .1s ease-out .4s;
}
.my-node-exit-done {
  height: 0;
  margin-bottom: 0 !important;
}
.mymenu {
  font-size: 40px;
  padding: 8px;
}
.myheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.caldatelabel {
  text-align: center;
}
.monthlabel {
  margin-left: 4px;
}
