@import '~bulma/bulma.sass';
@import '~bulma-floating-button/dist/css/bulma-floating-button.min.css';

html {
  height: 100%;
}
body {
  height: 100%;
}
#app {
  position: relative;
  height: 100%;
}
.scroll-container {
  height: 100%;
  overflow-y: scroll;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-page {
  float: left;
  width: 100%;
  position: relative;
}
.cal-week {
  display: flex;
}
.cal-date {
  flex: 1;
}
.task {
  height: 24px;
  transition: height .9s ease, display .9s linear 1s;
  &.d {
  height: 0;
  display: none;
  }
/*  transition: <property> <duration> <timing-function> <delay>; */
}
.my-node {
  height: 24px;
  overflow: hidden;
}
.my-node-exit {
}
.my-node-exit-active {
  height: 0;
  margin: 0;
  transition: height .1s ease-out .4s;
}
.my-node-exit-done {
  height: 0;
  margin: 0;
}
.my-check,.my-check-exit-done,.my-check-enter-done {
  display: none;
}
.my-check-enter,.my-check-exit {
  display: inline;
  opacity: 1;
}
.my-check-enter-active,.my-check-exit-active {
  opacity: 0;
  transition: opacity .2s ease-out .7s;
}
